<% var page = "profile" %>
<% include partials/header %>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="jumbotron text-center">
       <form method="POST" enctype="multipart/form-data" action="/upload">
          <input type="file" name="filefield"><br />
          <input type="submit" value="Upload">
        </form>

      <!-- <form method="post" enctype="multipart/form-data" action="/upload">
        <label class="control-label">Select File</label>
        <input type="file" class="filestyle" name="filename" data-buttonName="btn-primary">
        <input type="submit" value="Upload">
      </form> -->
    </div>
</div>
<% include partials/footer %>
